This dataset is a collection of attributes of startup companies linked to their dependent variable of success. It can be found at https://www.kaggle.com/datasets/manishkc06/startup-success-prediction, with data provided by Ramkishan Panthena.

In [65]:
import pandas as pd
import numpy as np
import seaborn as sns

In [29]:
df = pd.read_csv('startup_data.csv')
df.head(10)

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
5,379,CA,37.406914,-122.090370,94043,c:22898,Mountain View,Mountain View CA 94043,Matisse Networks,0,...,c:22898,0,0,0,1,0,0,3.0000,1,closed
6,195,CA,37.391559,-122.070264,94041,c:16191,Mountain View,NaN,RingCube Technologies,1,...,c:16191,1,0,1,1,0,0,1.6667,1,acquired
7,875,CA,38.057107,-122.513742,94901,c:5192,San Rafael,NaN,ClairMail,1,...,c:5192,0,0,1,1,0,1,3.5000,1,acquired
8,16,MA,42.712207,-73.203599,1267,c:1043,Williamstown,Williamstown MA 1267,VoodooVox,1,...,c:1043,1,0,1,0,0,1,4.0000,1,acquired
9,846,CA,37.427235,-122.145783,94306,c:498,Palo Alto,NaN,Doostang,1,...,c:498,1,1,1,0,0,0,1.0000,1,acquired

There are many attributes in this dataset that are redundant or unnecessary. For example, location information can be reduced to a single attribute of state_code. Including the city name may be too granular for this analysis, as is including coordinates and zip code. First, however, the number of NaN counts per attribute will be assessed to help determine which attributes are worth selecting over others.

In [24]:
df.isna().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  493
name                          0
labels                        0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

Fortunately, all of the attributes containing null values can be safely dropped. Going though the attributes to drop:

Beyond state_code, all other location attributes will be dropped. These are either superfluous or likely too granular for the purpose of this EDA.

The category of the business is already captured in category_code, and thus the remaining category Booleans can be dropped. 

Information pertaining to last funding dates can be dropped, as well as closed dates, as they are causatively effected by whether the company closed or not. 

Information pertaining to company name or ID can be dropped.

In [53]:
loc_to_drop = ['latitude', 'longitude', 'zip_code', 'city', 'state_code.1', 'is_CA', 'is_NY', 'is_MA', 'is_TX', 
               'is_otherstate']
cat_to_drop = ['is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce',
              'is_biotech', 'is_consulting', 'is_othercategory']
extras_to_drop = ['Unnamed: 0', 'id', 'Unnamed: 6', 'name', 'labels', 'closed_at', 'last_funding_at', 'age_last_funding_year', 
                  'age_first_milestone_year', 'age_last_milestone_year', 'object_id']

In [60]:
df = pd.read_csv('startup_data.csv')
df.drop(loc_to_drop, axis=1, inplace=True)
df.drop(cat_to_drop, axis=1, inplace=True)
df.drop(extras_to_drop, axis=1, inplace=True)
df.head(10)

,state_code,founded_at,first_funding_at,age_first_funding_year,relationships,funding_rounds,funding_total_usd,milestones,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,1/1/2007,4/1/2009,2.2493,3,3,375000,3,music,0,1,0,0,0,0,1.0000,0,acquired
1,CA,1/1/2000,2/14/2005,5.1260,9,4,40100000,1,enterprise,1,0,0,1,1,1,4.7500,1,acquired
2,CA,3/18/2009,3/30/2010,1.0329,5,1,2600000,2,web,0,0,1,0,0,0,4.0000,1,acquired
3,CA,1/1/2002,2/17/2005,3.1315,5,3,40000000,1,software,0,0,0,1,1,1,3.3333,1,acquired
4,CA,8/1/2010,8/1/2010,0.0000,2,2,1300000,1,games_video,1,1,0,0,0,0,1.0000,1,closed
5,CA,1/1/2002,7/18/2006,4.5452,3,1,7500000,1,network_hosting,0,0,0,1,0,0,3.0000,1,closed
6,CA,1/1/2005,9/21/2006,1.7205,6,3,26000000,2,software,1,0,1,1,0,0,1.6667,1,acquired
7,CA,1/1/2004,8/24/2005,1.6466,25,3,34100000,3,finance,0,0,1,1,0,1,3.5000,1,acquired
8,MA,1/1/2002,8/2/2005,3.5863,13,3,9650000,4,mobile,1,0,1,0,0,1,4.0000,1,acquired
9,CA,6/1/2005,2/1/2007,1.6712,14,3,5750000,4,web,1,1,1,0,0,0,1.0000,1,acquired

Specific dates of founding and first funding are not especially useful, as they are much too granular. These will be converted to years to get a better sense of any years that may have been optimal for either of these actions.

In [69]:
df['founded_at'] = df['founded_at'].str.slice(start=-4, stop=None)
df['first_funding_at'] = df['first_funding_at'].str.slice(start=-4, stop=None)

In [70]:
df.head(10)

,state_code,founded_at,first_funding_at,age_first_funding_year,relationships,funding_rounds,funding_total_usd,milestones,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,2007,2009,2.2493,3,3,375000,3,music,0,1,0,0,0,0,1.0000,0,acquired
1,CA,2000,2005,5.1260,9,4,40100000,1,enterprise,1,0,0,1,1,1,4.7500,1,acquired
2,CA,2009,2010,1.0329,5,1,2600000,2,web,0,0,1,0,0,0,4.0000,1,acquired
3,CA,2002,2005,3.1315,5,3,40000000,1,software,0,0,0,1,1,1,3.3333,1,acquired
4,CA,2010,2010,0.0000,2,2,1300000,1,games_video,1,1,0,0,0,0,1.0000,1,closed
5,CA,2002,2006,4.5452,3,1,7500000,1,network_hosting,0,0,0,1,0,0,3.0000,1,closed
6,CA,2005,2006,1.7205,6,3,26000000,2,software,1,0,1,1,0,0,1.6667,1,acquired
7,CA,2004,2005,1.6466,25,3,34100000,3,finance,0,0,1,1,0,1,3.5000,1,acquired
8,MA,2002,2005,3.5863,13,3,9650000,4,mobile,1,0,1,0,0,1,4.0000,1,acquired
9,CA,2005,2007,1.6712,14,3,5750000,4,web,1,1,1,0,0,0,1.0000,1,acquired

In [75]:
print(df.isna().sum())
print('Number of columns: ', len(df.columns))

state_code                0
founded_at                0
first_funding_at          0
age_first_funding_year    0
relationships             0
funding_rounds            0
funding_total_usd         0
milestones                0
category_code             0
has_VC                    0
has_angel                 0
has_roundA                0
has_roundB                0
has_roundC                0
has_roundD                0
avg_participants          0
is_top500                 0
status                    0
dtype: int64
Number of columns:  18

The dataset is now much cleaner with duplicate information removed.